.movies {
  display: flex;
  flex-wrap: wrap;
}

#title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
  margin: 20px;
}

#image {
  margin: 10px;
}

main {
  background-color: lightgray;
  margin: 10px;
}
